<!-- DATASHARE - start -->
<ds-alert [content]="'datashare.submission.sections.upload.info'"
          [dismissible]="false"
          [type]="AlertTypeEnum.Info"></ds-alert>

<ds-uploader *ngIf="uploadFilesOptions.url"
             [dropMsg]="dropMsg"
             [dropOverDocumentMsg]="dropOverDocumentMsg"
             [enableDragOverDocument]="enableDragOverDocument"
             [onBeforeUpload]="onBeforeUpload"
             [uploadFilesOptions]="uploadFilesOptions"
             (onCompleteItemWithFile)="onCompleteItem($event)"
             (onUploadError)="onUploadError($event)"></ds-uploader>
<!-- DATASHARE - end -->