<div *ngIf="hasData"
     class="m-1">

  <h2 class="m-1">
    {{ 'statistics.table.title.' + report.reportType | translate }}
  </h2>

  <ds-pagination [paginationOptions]="paginationOptions"
                 [collectionSize]="report.points.length"
                 [hideGear]="true"
                 [hidePaginationDetail]="report.points.length <= pageSize"
                 [hideSortOptions]="true"
                 [retainScrollPosition]="true">

    <table class="table table-striped" [attr.data-test]="report.reportType">

      <tbody>

      <tr>
        <td></td>
        <th scope="col"
            *ngFor="let header of headers"
            class="{{header}}-header">
          {{ header }}
        </th>
      </tr>

      <tr *ngFor="let point of (paginatedPoints$ | async)"
          class="{{point.id}}-data">
        <th scope="row" data-test="statistics-label">
          {{ getLabel(point) | async }}
        </th>
        <td *ngFor="let header of headers"
            class="{{point.id}}-{{header}}-data">
          {{ point.values[header] }}
        </td>
      </tr>

      </tbody>

    </table>

  </ds-pagination>

</div>
